body {
  /* min-height: 100%; */
  /* overflow: auto; */
}

.App {
  /* text-align: center;
  margin: 0 auto;
  width: 800px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  overflow: auto;
  overflow: scroll; */
  /* background-color: #faefea; */

  /* min-height: 100%; */
  width: 100%;
}

.app_content_wrapper {
  position: fixed;
  top: 225px;
  /* height: auto; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  color: black;
  text-decoration: none;
}

/* WELCOME PAGE  */

.signup_login_page {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: static;
}

.welcome_display_wrapper {
  background-color: #e6c7b6;
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_cont_wrapper {
  background-color: white;
  height: 100vh;
  width: 50vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.welcome_text {
  margin: 0;
  font-family: ‘Playfair Display’, serif;
  font-weight: normal;
  color: white;
  font-size: 7em;
}

div.ui.container.form_cont {
  /* margin: auto; */
  font-family: "Tenor Sans", sans-serif;
  width: 75%;
  height: 100%;
  background-color: white;
  /* position: absolute; */
  padding: 60px;
  /* box-shadow: 0px 5px 15px 0px rgba(14, 33, 26, 0.3); */
}

.form_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 4em;
  color: #245442;
}

button.submit {
  background-color: #7f9c91;
  border: none;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.5em;
  color: white;
  border-radius: 4px;
}

button.option {
  background-color: white;
  border-color: #7f9c91;
  border-width: 3px;
  padding: 10px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.5em;
  color: #7f9c91;
  border-radius: 4px;
}

.welcome_logo {
  width: 350px;
  flex-direction: column;
  height: 300px;
  /* position: relative; */
  margin: 50px;
  top: 0;
  left: 0;
}
label {
  float: left;
  padding: 5px;
  font-family: "Tenor Sans", sans-serif;
}

/* NAV BAR */

.top_logo_nav {
  background-color: #f4e6dd;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  /* display: flex; */
  justify-content: center;
}

div.ui.container.nav_bar {
  height: fit-content;
  display: flex;
}
.main_nav_bar {
  background-color: white;
  position: fixed;
  top: 100px;
  text-align: center;
  left: 0px;
  width: 100vw;
  height: 100px;
  justify-content: center;
  display: flex;
}
.nav_elements {
  margin: auto;
}

.nav_logo {
  width: 250px;
  margin: auto;
  /* margin-left: auto; */
  position: fixed;
  left: 44%;
  top: -40px;
  height: 200px;
  /* position: relative; */
  /* margin: 50px; */
}

.nav_item {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.4em;
  letter-spacing: 2px;
  float: right;
  color: black;
  margin: 20px;
  margin-top: 40px;
}

.top_nav_item {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.2em;
  float: right;
  color: black;
  margin: 20px;
  margin-top: 40px;
}

a.nav_item:hover {
  color: #a3593f;
}

/* Formula form  */

.formula_form_wrapper {
  background-color: #e6c7b6;
  width: 100vw;
  height: 100vh;
  display: flex;
}

div.ui.container.formula_form {
  background-color: white;
  margin: 10%;
  height: fit-content;
  width: 75%;
  padding: 40px;
  box-shadow: 0px 5px 15px 0px rgba(14, 33, 26, 0.3);
}

.ui.form .field {
  margin: 20px, 0;
}

.add_ingredient_title {
  float: left;
  margin: 30px 0;
  margin-left: 20px;
}

.formula_form_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 3em;
  color: #245442;
}

.ui.form .field > label {
  font-size: 1em;
}

.ingredient_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 2em;
  color: #245442;
}

#add_ingredient {
  background-color: #7f9c91;
  border: none;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

#remove_ingredient {
  background-color: #7f9c91;
  border: none;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

.ingredient_form {
  padding: 20px;
}

.ingredient_form .field {
  margin: auto;
}

button {
  background-color: #7f9c91;
  border: none;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

.edit_or_delete {
  float: left;
  margin-top: 10px;
}
.edit_or_delete button {
  margin: 10px;
  font-family: "Tenor Sans", sans-serif;
}

/* colours  */

.ui.tan.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #cc9e87;
  margin: 2px;
}

.ui.plantation.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #245442;
  margin: 2px;
}

.ui.sepiaSkin.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #a3593f;
  margin: 2px;
}

.ui.oxley.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #7f9c91;
  margin: 2px;
}

.ui.roseFog.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #e6c7b6;
  margin: 2px;
}

/* footer */

.ui.container.footer {
  background-color: #f4e6dd;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.footer_elements {
  margin: auto;
}
/* filter  */

.filter {
  margin-top: 54%;
  width: fit-content;
  height: 400px;
  background-color: #a3593f;
  padding: 15px;
}

.filter_title {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  margin-top: 20px;
  font-size: 25px;
  margin: 10px;
}
.page_title {
  /* font-family: "Playfair Display", serif; */
  /* font-family: "Tenor Sans", sans-serif; */

  top: 20px;
  bottom: 20px;
  margin: 40px;

  color: #245442;
}
.page_title h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 40px;
  /* font-family: "Playfair Display", serif; */
  /* top: 20px;
  margin: 40px; */
  color: #245442;
}

.page_title h1 i {
  color: #7f9c91;
}

.explore_grid {
  margin-right: 20px;
}

.meta.card_subtitle {
  font-family: "Tenor Sans", sans-serif;
  color: #7f9c91;
}

.meta.card_type {
  font-family: "Tenor Sans", sans-serif;
  color: #7f9c91;
}

div.header.card_title {
  font-family: "Tenor Sans", sans-serif;
  color: #245442;
}

a.ui.card.explore_card {
  box-shadow: 0px 5px 15px 0px rgba(8, 8, 8, 0.35);
}

.explore_page {
  width: 100%;
  height: 100%;
}

.ui.equal.width.grid {
  width: 100%;
}

/* formula details page */

.ui.grid.formula_details_wrapper,
.ui.grid.ingredient_details_wrapper {
  width: 100%;
  padding: 100px;
  padding-top: 50px;
}
.formula_header,
.ingredient_header {
  background-color: #f4e6de;

  padding: 30px;

  width: fit-content;
  margin: 10px;
  height: fit-content;
}

.formula_ingredients,
.ingredeint_formula_suggestions {
  padding: 20px;
  font-family: "Tenor Sans", sans-serif;
  color: white;
  background-color: #245442;
  margin: 10px;
  margin-right: 15px;
  width: fit-content;
  height: fit-content;
}

.formula_directions,
.ingredeint_formula_description {
  padding: 20px;
  font-family: "Tenor Sans", sans-serif;
  color: white;
  background-color: #a3593f;
  text-align: left;
  margin: 10px;
  margin-left: 20px;
  width: fit-content;
  height: fit-content + 100px;
}

/* .formula_directions h2,
.formula_ingredients h2,
.ingredeint_formula_description h2,
.ingredeint_formula_suggestions h2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 2em;
  font-weight: normal;
} */

.detail_info h2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 2em;
  font-weight: normal;
}

/* .formula_ingredients h2 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
} */

.detail_info {
  padding: 10px;
}

.header_content {
  /* padding: 20px; */
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  text-align: left;
}
.header_content h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
}

.header_content h3 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  font-style: italic;
}

.header_content p {
  font-size: 1.2em;
  font-weight: normal;
}

.loader {
  margin: auto;
}

.detail_info p {
  font-size: 1.2em;
}

.bookmark {
  margin-top: 15px;
}

/* home page  */

.ui.container.home_wrapper {
  width: 100%;
  height: 100vh;
}

.image_wrapper {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 50%;
  background-color: #245442;
}
img.ui.image.home_main_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

div.image_text-centered {
  font-family: "Tenor Sans", sans-serif;
  font-size: 4em;
  font-weight: normal;

  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
}

.home_grid {
  /* margin: 30px  */
  margin: 30px 60px !important;
  /* display: flex; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

.home_row {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.formula_box {
  background-color: #a3593f;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.formula_box .ui.image {
  width: 100%;
  height: 100%;
}

.ingredient_box {
  background-color: #245442;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.ingredient_box .ui.image {
  width: 100%;
  height: 100%;
}

.create_box {
  background-color: #a3593f;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.create_box .ui.image {
  width: 100%;
  height: 100%;
}

/* .home_row button {
  background-color: white;
  color: #245442;

  font-family: "Tenor Sans", sans-serif;
  font-size: 4em;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
} */
