body {
  /* min-height: 100%; */
  /* overflow: auto; */
}

.App {
  /* text-align: center;
  margin: 0 auto;
  width: 800px;
  position: absolute;
  bottom: 0px;
  top: 0px;
 
  /* overflow: scroll; */
  /* background-color: #faefea; */
  /* overflow: auto; */
  min-height: 100%;
  width: 100%;
}

.app_content_wrapper {
  /* height: fit-content; */
  position: relative;
  top: 140px;
  overflow: auto;
  min-height: 100vh;
  /* height: auto; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  color: black;
  text-decoration: none;
}

/* WELCOME PAGE  */

.signup_login_page {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: static;
}

.welcome_display_wrapper {
  background-color: #d5d6d0;
  /* background-image: url(images/outlinebackground.svg); */
  background-image: url(images/background.svg);

  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.login_wrapper {
  display: flex;
  justify-content: center;
}

.form_cont_wrapper {
  background-color: white;
  height: 100vh;
  width: 50vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.welcome_text {
  margin: 0;
  font-family: ‘Playfair Display’, serif;
  font-weight: normal;
  color: white;
  font-size: 7em;
}

div.ui.container.form_cont {
  /* margin: auto; */
  font-family: "Tenor Sans", sans-serif;
  width: 75%;
  height: 100%;
  background-color: white;
  /* position: absolute; */
  padding: 60px;
  display: flex;
  /* box-shadow: 0px 5px 15px 0px rgba(14, 33, 26, 0.3); */
}

.form_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 4em;
  color: #245442;
}

button.submit {
  background-color: #7f9c91;
  border: none;
  margin: 10px 40%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.5em;
  color: white;
  border-radius: 4px;
}

button.option {
  background-color: white;
  border: 2px solid;
  border-color: #7f9c91;
  margin: 10px 40%;
  border-width: 3px;
  padding: 10px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.3em;
  color: #7f9c91;
  border-radius: 4px;
}

.welcome_logo {
  width: 350px;
  flex-direction: column;
  height: 300px;
  /* position: relative; */
  margin: 50px;
  top: 0;
  left: 0;
}
label {
  float: left;
  padding: 5px;
  font-family: "Tenor Sans", sans-serif;
}

/* NAV BAR */

.top_logo_nav {
  background-color: #f4e6dd;
  background-color: #ded3d4;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  /* display: flex; */
  justify-content: center;
}

div.ui.container.nav_bar {
  height: fit-content;
  width: 100%;
  display: flex;
}
.main_nav_bar {
  background-color: white;
  position: absolute;
  top: 100px;
  text-align: center;
  left: 0px;
  width: 100vw;
  height: 100px;
  justify-content: center;
  display: flex;
}
.nav_elements {
  margin: auto;
}

.nav_logo {
  width: 250px;
  margin: auto;
  /* margin-left: auto; */
  position: relative;
  left: 44%;
  top: -40px;
  height: 200px;
  /* position: relative; */
  /* margin: 50px; */
}

.nav_item {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.4em;
  letter-spacing: 2px;
  float: right;
  color: black;
  margin: 20px;
  margin-top: 40px;
}

.top_nav_item {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.2em;
  float: right;
  color: black;
  margin: 20px;
  margin-top: 40px;
}

a.nav_item:hover {
  color: #a3593f;
}

/* Formula form  */

.formula_form_wrapper {
  background-color: #e6c7b6;
  background-color: #d5d6d0;
  background-image: url(images/outlinebackground.svg);

  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  width: 100%;
  height: fit-content;
  padding-bottom: 2.5rem;
  display: flex;
}

div.ui.container.formula_form {
  background-color: white;
  opacity: 1;
  margin: 10%;
  height: fit-content;
  width: 60%;
  padding: 40px;
  box-shadow: 0px 5px 15px 0px rgba(14, 33, 26, 0.3);
}

.ui.form .field {
  margin: 20px, 0;
}

.add_ingredient_title {
  float: left;
  width: 100%;
  margin: 30px 0;
  margin-left: 20px;
}

.formula_form_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 3em;
  color: #245442;
}

.ui.form .field > label {
  font-size: 1em;
}

.ingredient_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 2em;
  color: #245442;
}

#add_ingredient {
  background-color: #7f9c91;
  border: none;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

#remove_ingredient {
  background-color: #7f9c91;
  border: none;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

.ingredient_form {
  padding: 20px;
}

.ingredient_form .field {
  margin: auto;
}

button {
  background-color: #7f9c91;
  border: none;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

.ingredient_buttons button {
  float: right;
  font-family: "Tenor Sans", sans-serif;
  color: black;
  background-color: transparent;
  border: 2px solid #a07c7e;
  letter-spacing: 2px;
  font-size: 1.2em;
}

.edit_or_delete {
  float: left;
  margin-top: 10px;
}
.edit_or_delete button {
  margin: 10px;
  float: right;
  font-family: "Tenor Sans", sans-serif;
  color: black;
  background-color: transparent;
  border: 2px solid #a07c7e;
  letter-spacing: 2px;
  font-size: 1.2em;
}

/* colours  */

.ui.tan.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #cc9e87;
  margin: 2px;
}

.ui.plantation.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #245442;
  margin: 2px;
}

.ui.sepiaSkin.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #a3593f;
  margin: 2px;
}

.ui.oxley.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #7f9c91;
  margin: 2px;
}

.ui.roseFog.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #e6c7b6;
  margin: 2px;
}

/* new colors */

.ui.dimGray.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #835f4f;
  margin: 2px;
}

.ui.roseBrown.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #c8beac;
  margin: 2px;
}

.ui.darkGray.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #a2938b;
  margin: 2px;
}

.ui.silver.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #d2c3bc;
  margin: 2px;
}

.ui.pharlap.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #a07c7e;
  margin: 2px;
}

.ui.bitter.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #929480;
  margin: 2px;
}

.ui.dustyGray.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #a19098;
  margin: 2px;
}

.ui.pumice.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #cbcfcb;
  margin: 2px;
}

/* footer */

.ui.container.footer {
  background-color: #f4e6dd;
  margin-top: 30px;
  /* position: relative; */
  /* height: 10%; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  /* bottom: -70px;

  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center; */
}

.footer_elements {
  margin: auto;
}
/* filter  */

div.ui.container.filter_wrapper {
  margin-top: 120px;
  background-color: #f0e3dd;
  /* background-color: #faefea; */
  width: 100%;
  height: fit-content;
  background-image: url(images/outlinebackground.svg);

  background-repeat: no-repeat;
  /* background-size: 25px 50px; */
  background-size: 100% 100%;
  padding: 15px;
  display: flex;
}

.filter {
  /* margin-top: 54%; */
  width: fit-content;

  height: fit-content;
  margin: auto;
  background-color: #d0b4a0;
  background-color: #c8a8ab;

  background-color: #afb1a6;
  background-color: #b9abac;
  padding: 20px;
  text-align: center;
}

.filter_title {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  margin-top: 20px;
  font-size: 25px;
  font-weight: normal;
  margin: 10px;
}
.page_title {
  /* font-family: "Playfair Display", serif; */
  /* font-family: "Tenor Sans", sans-serif; */

  top: 0px;
  bottom: 20px;
  /* margin: 40px; */
  text-align: center;
  text-align: 45%;
  padding: 20px;
  letter-spacing: 15px;
  margin: 20px;
  color: #245442;
}
.page_title h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  /* font-family: "Playfair Display", serif; */
  /* top: 20px;
  margin: 40px; */
  color: #245442;
}

.page_title h1 i {
  color: #7f9c91;
}

.explore_grid {
  margin-right: 20px;
}

.meta.card_subtitle {
  font-family: "Tenor Sans", sans-serif;
  color: #7f9c91;
}

.meta.card_type {
  font-family: "Tenor Sans", sans-serif;
  color: #7f9c91;
}

div.header.card_title {
  font-family: "Tenor Sans", sans-serif;
  color: black;
}

a .ui.container.explore_card {
  box-shadow: 0px 5px 15px 0px rgba(8, 8, 8, 0.35);
  padding: 3%;
}

a .ui.container.explore_card .image {
  height: auto;
  /* width: auto; */
  vertical-align: top;
  max-width: 100%;
  max-height: 300px;
  margin: auto;
}

a .ui.container.explore_card .card_content {
  padding: 10px;
  font-family: "Tenor Sans", sans-serif;
}

a .ui.container.explore_card .header {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
}

.explore_page {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  margin-bottom: 100px;
}

.ui.equal.width.grid {
  width: 100%;
}

/* formula details page */

.ui.grid.formula_details_wrapper,
.ui.grid.ingredient_details_wrapper {
  width: 100%;
  padding: 100px;
  padding-top: 50px;
  margin: auto;
}
.column.formula_header,
.column.ingredient_header {
  background-color: #f4e6de;

  padding: 30px;

  width: fit-content;
  margin: 10px;
  height: fit-content;
}

.ui.grid > .row > .column > img {
  height: auto;
  width: auto;
  vertical-align: top;
  max-width: 400px;
  max-height: 450px;
}

.formula_ingredients,
.ingredeint_formula_suggestions {
  padding: 20px;
  font-family: "Tenor Sans", sans-serif;
  color: white;
  background-color: #afb1a6;
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  /* margin-right: 15px; */
  width: fit-content;
  height: fit-content;
  margin-left: 2%;
}

.formula_directions,
.ingredeint_formula_description {
  padding-top: 20px;
  padding-left: 70px;
  font-family: "Tenor Sans", sans-serif;
  color: white;
  background-color: #b9abac;
  text-align: left;
  margin-top: 20px;
  /* margin-left: 20px; */
  width: fit-content;
  height: fit-content + 100px;
  margin-right: 2%;
}

.ui.stackable.grid > .row > .column,
.ui.stackable.grid > .row > .wide.column {
  margin: 10px 10px !important;
}

/* .ui.grid>.row>[class*="nine wide"].column */
/* .formula_directions h2,
.formula_ingredients h2,
.ingredeint_formula_description h2,
.ingredeint_formula_suggestions h2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 2em;
  font-weight: normal;
} */

.detail_info h2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 2em;
  font-weight: normal;
}

/* .formula_ingredients h2 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
} */

.detail_info {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.header_content {
  /* padding: 20px; */
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  text-align: left;
}
.header_content h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
}

.header_content h3 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  font-style: italic;
}

.header_content p {
  font-size: 1.2em;
  font-weight: normal;
}

.formula_qty {
  margin-bottom: 10px;
}

.loader_wrapper {
  width: 100vw;
  display: flex;
}

.loader {
  margin: auto;
}

.detail_info p {
  font-size: 1.2em;
}

.bookmark {
  margin-top: 15px;
  margin-left: 20px;
}

/* home page  */

.ui.container.home_wrapper {
  width: 100%;
  height: 100vh;
  padding-bottom: 10px;
  margin-bottom: 200px;
}

.image_wrapper {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 50%;
  background-color: #245442;
}
img.ui.image.home_main_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

div.image_text-centered {
  font-family: "Tenor Sans", sans-serif;
  /* change font size based on screen size */
  font-weight: normal;
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, 0%);
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  div.image_text-centered {
    font-size: 1em;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  div.image_text-centered {
    font-size: 1.5em;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  div.image_text-centered {
    font-size: 1.8em;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  div.image_text-centered {
    font-size: 2.5em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  div.image_text-centered {
    font-size: 4em;
  }
}

.home_grid {
  /* margin: 30px  */
  margin: 7% 10% !important;
  /* display: flex; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

.home_grid h1 {
  font-family: "Tenor Sans", sans-serif;
  color: #245442;
  font-size: 3em;
  font-style: italic;
  font-weight: normal;
  margin: 30px;
}
.ui.grid.home_grid > .row > .column > img {
  height: 100%;
  width: 100%;
  margin: auto;
}

.ui.grid.home_grid > .row > .column {
  height: 50%;
  margin: auto;
}

.row.home_row {
  /* margin: auto; */
}

.home_row {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.formula_box {
  background-color: #f1e0da;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.formula_box .ui.image {
  width: 100%;
  height: 100%;
}

.ingredient_box {
  background-color: #d5d6d0;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.ingredient_box .ui.image {
  width: 100%;
  height: 100%;
}

.create_box {
  background-color: #f1e0da;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.create_box .ui.image {
  width: 100%;
  height: 100%;
}

/* .home_row button {
  background-color: white;
  color: #245442;

  font-family: "Tenor Sans", sans-serif;
  font-size: 4em;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
} */

div.ui.sepiaSkin.progress .bar {
  /* background-color: #a3593f; */
  background-color: #245442;
}

div.ui.sepiaSkin.progress {
  background-color: white;
  margin: 15px;
  padding: 0px 100px;
}

/* image dropzone */

.image_dropzone {
  width: 50%;
  height: fit-content;
  border-style: dashed;
  border-color: grey;
  border-width: 2px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
}

.image_dropzone h5 {
  color: grey;
}

/* user profile */

.container.user_details {
  background-color: #a07c7e;
  display: flex;
  height: fit-content;
  padding: 20px;
}

.container.user_details img.ui.medium.circular.image {
  height: auto;

  width: auto;
  vertical-align: top;
  max-width: 100%;
  max-height: 300px;
}

.container.user_details.content {
  padding: 20px;
}

.container.user_details .ui.icon.header .content {
  padding-top: 20px;
  font-family: "Tenor Sans", sans-serif;
  color: white;
  font-size: 1.4em;

  font-weight: normal;
}

.profile_title {
  padding: 20px;
  display: flex;
}

.profile_title h1 {
  font-family: "Tenor Sans", sans-serif;
  color: #245442;
  font-size: 3em;
  font-style: italic;
  font-weight: normal;
  margin: auto;
}

.grid.card_deck {
  padding-bottom: 5em !important;
}
