.App {
  text-align: center;

  /* background-color: #faefea; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  color: black;
  text-decoration: none;
}

/* WELCOME PAGE  */

.signup_login_page {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: static;
}

.welcome_display_wrapper {
  background-color: #e6c7b6;
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_cont_wrapper {
  background-color: white;
  height: 100vh;
  width: 50vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.welcome_text {
  margin: 0;
  font-family: ‘Playfair Display’, serif;
  font-weight: normal;
  color: white;
  font-size: 7em;
}

div.ui.container.form_cont {
  /* margin: auto; */
  font-family: "Tenor Sans", sans-serif;
  width: 75%;
  height: 100%;
  background-color: white;
  /* position: absolute; */
  padding: 60px;
  /* box-shadow: 0px 5px 15px 0px rgba(14, 33, 26, 0.3); */
}

.form_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 4em;
  color: #245442;
}

button.submit {
  background-color: #7f9c91;
  border: none;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.5em;
  color: white;
  border-radius: 4px;
}

button.option {
  background-color: white;
  border-color: #7f9c91;
  border-width: 3px;
  padding: 10px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.5em;
  color: #7f9c91;
  border-radius: 4px;
}

.welcome_logo {
  width: 350px;
  flex-direction: column;
  height: 300px;
  /* position: relative; */
  margin: 50px;
  top: 0;
  left: 0;
}
label {
  float: left;
  padding: 5px;
  font-family: "Tenor Sans", sans-serif;
}

/* NAV BAR */

div.ui.container.nav_bar {
  background-color: #c39e8b;
  width: 100vw;
  height: 100px;
  justify-content: center;
}

/* div.ui.container.nav_bar .nav_item:hover {
  color: black;
} */

.nav_logo {
  width: 150px;
  margin-left: 10px;
  float: left;
  height: 100px;
  /* position: relative; */
  /* margin: 50px; */
}

.nav_item {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.4em;
  float: right;
  color: white;
  margin: 20px;
  margin-top: 40px;
}

a.nav_item:hover {
  color: #a3593f;
}

/* Formula form  */

.formula_form_wrapper {
  background-color: #e6c7b6;
  width: 100vw;
  height: 100vh;
  display: flex;
}

div.ui.container.formula_form {
  background-color: white;
  margin: 10%;
  height: fit-content;
  width: 75%;
  padding: 40px;
  box-shadow: 0px 5px 15px 0px rgba(14, 33, 26, 0.3);
}

.ui.form .field {
  margin: 20px, 0;
}

.add_ingredient_title {
  float: left;
  margin: 30px 0;
  margin-left: 20px;
}

.formula_form_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 3em;
  color: #245442;
}

.ui.form .field > label {
  font-size: 1em;
}

.ingredient_title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 2em;
  color: #245442;
}

#add_ingredient {
  background-color: #7f9c91;
  border: none;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

#remove_ingredient {
  background-color: #7f9c91;
  border: none;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

.ingredient_form {
  padding: 20px;
}

.ingredient_form .field {
  margin: auto;
}

button {
  background-color: #7f9c91;
  border: none;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 4px;
}

.edit_or_delete {
  float: left;
  margin-top: 10px;
}
.edit_or_delete button {
  margin: 10px;
  font-family: "Tenor Sans", sans-serif;
}

/* colours  */

.ui.tan.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #cc9e87;
  margin: 2px;
}

.ui.plantation.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #245442;
  margin: 2px;
}

.ui.sepiaSkin.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #a3593f;
  margin: 2px;
}

.ui.oxley.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #7f9c91;
  margin: 2px;
}

.ui.roseFog.label {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  background-color: #e6c7b6;
  margin: 2px;
}

/* filter  */

.filter {
  margin-top: 54%;
  width: fit-content;
  height: 400px;
  background-color: #a3593f;
  padding: 15px;
}

.filter_title {
  color: white;
  font-family: "Tenor Sans", sans-serif;
  margin-top: 20px;
  font-size: 25px;
  margin: 10px;
}
.page_title {
  /* font-family: "Playfair Display", serif; */
  /* font-family: "Tenor Sans", sans-serif; */

  top: 20px;
  bottom: 20px;
  margin: 40px;

  color: #245442;
}
.page_title h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 40px;
  /* font-family: "Playfair Display", serif; */
  /* top: 20px;
  margin: 40px; */
  color: #245442;
}

.page_title h1 i {
  color: #7f9c91;
}

.explore_grid {
  margin-right: 20px;
}

.meta.card_subtitle {
  font-family: "Tenor Sans", sans-serif;
  color: #7f9c91;
}

.meta.card_type {
  font-family: "Tenor Sans", sans-serif;
  color: #7f9c91;
}

div.header.card_title {
  font-family: "Tenor Sans", sans-serif;
  color: #245442;
}

a.ui.card.explore_card {
  box-shadow: 0px 5px 15px 0px rgba(8, 8, 8, 0.35);
}

.explore_page {
  width: 100%;
  height: 100%;
}

.ui.equal.width.grid {
  width: 100%;
}

/* formula details page */

.ui.grid.formula_details_wrapper {
  width: 100%;
  padding: 100px;
  padding-top: 50px;
}
.formula_header {
  background-color: #f4e6de;

  padding: 30px;

  width: fit-content;
  margin: 10px;
  height: fit-content;
}

.formula_ingredients {
  padding: 20px;
  font-family: "Tenor Sans", sans-serif;
  color: white;
  background-color: #245442;
  margin: 10px;
  margin-right: 15px;
  width: fit-content;
  height: fit-content;
}

.formula_directions {
  padding: 20px;
  font-family: "Tenor Sans", sans-serif;
  color: white;
  background-color: #a3593f;
  text-align: left;
  margin: 10px;
  margin-left: 20px;
  width: fit-content;
  height: fit-content + 100px;
}

.formula_directions h2,
.formula_ingredients h2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 2em;
  font-weight: normal;
}

/* .formula_ingredients h2 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
} */

.formula_info {
  padding: 10px;
}

.header_content {
  /* padding: 20px; */
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  text-align: left;
}
.header_content h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
}

.header_content h3 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  font-style: italic;
}

.header_content p {
  font-size: 1.2em;
  font-weight: normal;
}

.loader {
  margin: auto;
}

.formula_info p {
  font-size: 1.2em;
}

.bookmark {
  margin-top: 15px;
}
